<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>학생이미지업로드 창</h1>
    <form
      method="POST"
      action="upload?teacher=1&group=1&userCode=201610309"
      enctype="multipart/form-data"
    >
      <p>select 박스를 통해서 학과 선택하여 인덱스값 query param으로 전달</p>
      <p>select 박스를 통해서 이름입력가능하게 query param으로 전달</p>
      <input type="file" name="file" />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
